#pandas

In [1]:
import pandas as pd

In [4]:
print(pd. __version__)

1.3.2

In [6]:
arr =[0,1,2,3,4]
s1= pd.Series(arr)
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [10]:
order=[1,2,3,4,5]
pd.Series(arr, index=order)

1    0
2    1
3    2
4    3
5    4
dtype: int64

In [11]:
import numpy as np
n=np.random.randn(5)
index =['a','b','c','d','e']
s2 =pd.Series(n, index=index)
s2

a   -0.088695
b    0.979875
c    0.683532
d    0.607017
e   -1.529463
dtype: float64

In [12]:
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [18]:
s1.index=['A','B','C','D','E']
s1

A    0
B    1
C    2
D    3
E    4
dtype: int64

In [19]:
s1[:2]

A    0
B    1
dtype: int64

In [23]:
s4=s1.append(s1)
s4

A    0
B    1
C    2
D    3
E    4
A    0
B    1
C    2
D    3
E    4
dtype: int64

In [24]:
s4.drop('E')

A    0
B    1
C    2
D    3
A    0
B    1
C    2
D    3
dtype: int64